<nav class="navbar top navbar-fixed" role="navigation">
  <div class="container">
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="logo">
      <img class="img-center" src="assets/img/logo.png" alt="logo" >
    </div>
  </div>
  <div class="row" id="mainmenu">
    <div class="col-lg-3 col-sm-6 text-center">
      <a [routerLink]="['/servipag']" ><img class="img-circle img-responsive img-center" src="assets/img/btn_cuentas.png" alt=""></a>
      <h3>Pagar Cuentas</h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <a [routerLink]="['/sap']" ><img class="img-circle img-responsive img-center" src="assets/img/btn_sap.png" alt=""></a>
      <h3>Acceso SAP RR.HH.</h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
<!--<img class="img-circle img-responsive img-center" src="img/btn_videos.png" data-toggle="modal" data-target="#rbm_sldr_video">	             -->
    <a [routerLink]="['/videos']" ><img class="img-circle img-responsive img-center" src="assets/img/btn_videos.png"></a>
    <h3>Videos</h3>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <a [routerLink]="['/evaluar']" ><img class="img-circle img-responsive img-center" src="assets/img/btn_encuesta.png" data-toggle="modal" data-target="#rbm_sign_up"></a>
      <h3>Evaluar Módulo</h3>
    </div>
  </div>
</div>
<nav class="navbar bottom navbar-fixed-bottom" role="navigation">
  <p>&copy;2017 Agrosuper. Todos los derechos reservados.</p>
</nav>
