<nav class="navbar top navbar-fixed" role="navigation">
  <div class="container">
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="logo">
      <img class="img-center" src="assets/img/logo.png" alt="logo" >
    </div>
  </div>
  <div class="row" id="mainmenu">
    <div class="col-lg-12 col-sm-12 text-center">
    	<h1>Gracias enviarnos tu sugerencia</h1>
      <a [routerLink]="['/menu']" class="btn btn-primary">Regresar</a>

    
    </div>
  </div>
</div>
<nav class="navbar bottom navbar-fixed-bottom" role="navigation">
  <p>&copy;2017 Agrosuper. Todos los derechos reservados.</p>
</nav>
